ul(class="nav nav-tabs")
  li(class="nav-item") 
    a(class="nav-link" href="/admin/dashboard") Dashboard
  li(class="nav-item")
    a(class="nav-link" href="/admin/allvideos") Vidoes
  li(class="nav-item")
    a(class="nav-link" href="/admin/incomingmessages") Messages
  li(class="nav-item")
    a(class="nav-link" href="/admin/submits") Video Submissions