extends layout

block content
  div(id="main-body")
    ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2487455590278875" data-ad-slot="1048447853" data-ad-format="auto" data-full-width-responsive="true")
    if videos < 1
      h1(class="text-center") No Videos Added Yet
    else
      div(id="topMargin")
      div(class="row")
        div(class="col-md-8")
          div(id="latestVideoContainer")
            center
              div(id="latest")
            center
              div(id="latest_rb")
            div(id="latest_ten")
        div(class="col-md-4")
          div(id="sideBg")
            include ./templates/social.jade
            hr
            h2(id="sideTitle" class="text-center") NEWS
            div(id="latest_news")
            hr
            h2(id="sideTitle" class="text-center") INTERVIEWS
            div(id="latest_interviews")
            hr
            h2(id="sideTitle" class="text-center") PODCASTS/SHOWS
            div(id="latest_podcasts")
            hr
            h2(id="sideTitle" class="text-center") Sports
            div(id="latest_sports")
  script(src="/javascripts/videos/latest.js")
  script(src="/javascripts/videos/latest_news.js")
  script(src="/javascripts/videos/latest_interviews.js")
  script(src="/javascripts/videos/latest_podcasts.js")
  script(src="/javascripts/videos/latest_rb.js")
  script(src="/javascripts/videos/latest_ten.js")
  script(src="/javascripts/videos/latest_sports.js")