extends layout

block content
  div(id="main-body")
    ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2487455590278875" data-ad-slot="1048447853" data-ad-format="auto" data-full-width-responsive="true")
    if videos < 1
      h1(class="text-center") No Videos Added Yet
    else
      div(class="row")
        div(class="col-sm-12")
          div(id="latestVideoContainer")
            center
              div(id="latest")
      hr
      div(id="latest_two")
      div(id="content")
        h1(class="text-center") New Videos
        div(id="allVideos")
  script(src="/javascripts/videos/latest.js")
  script(src="/javascripts/videos/latest_two.js")
  script(src="/javascripts/videos/all.js")