extends layout

block content
  div(id="marg")
    div(class="row")
      div(class="col-md-8")
        div(id="showVideo")
        hr
        h4 Add A Comment:
        br
        form(id="target")
          input(type="text" name="name" class="form-control" placeholder="Display Name" required)
          br
          textarea(type="text" name="comment" class="form-control" placeholder="Comment" required)
          br
          input(type="submit" class="btn btn-primary" value="Submit")
        hr
        div(id="comments")
      div(class="col-md-4")
        div(class="row")
          div(class="col-sm-12")
            div(id="recommendationsContainer")
              h4(class="text-center") Up Next
              div(id="recommendations")
  script(src="/javascripts/videos/show_video.js")
  script(src="/javascripts/views/update_view_count.js")
  script(src="/javascripts/videos/recommendations.js")
  script(src="/javascripts/comments/add.js")
  script(src="/javascripts/comments/all.js")