extends layout

block content
  div(id="marg")
    div(class="row")
      div(class="col-md-12")
        h1(class="text-center") Sorry Your Message was not successfully sent. Please try again or email us direct at 
          a(href="herrahiphop@gmail.com") herrahiphop@gmail.com