footer(id="footer" class="footer")
  div(class="container")
    div(class="row")
      div(class="col-sm-4")
        ul(class="nav flex-column")
          li(class="nav-item")
            a(class="nav-link" id="foots" href="/music") Music
          li(class="nav-item")
            a(class="nav-link" id="foots" href="/news") News
          li(class="nav-item")
            a(class="nav-link" id="foots" href="/interviews") Interviews
          li(class="nav-item")
            a(class="nav-link" id="foots" href="/podcasts") Podcasts
      div(class="col-sm-4")
        ul(class="nav flex-column")
          li(class="nav-item")
            a(class="nav-link" id="foots" href="/privacy") Privacy
          li(class="nav-item")
            a(class="nav-link" id="foots" href="/submit") Submit a Video
          li(class="nav-item")
            a(class="nav-link" id="foots" href="/contactus") Contact Us
          li(class="nav-item")
            a(class="nav-link" id="foots" href="/auth/login") Employees
      div(class="col-sm-4")
        include ./newsletter.jade
    br
    div(class="row")
      div(class="col-sm-12")
        a(id="logo" href="/")
          h1(id="title") Herra HipHop 2019