nav(class="navbar navbar-expand-lg navbar-light bg-light" id="nav")
  div(class="container")
    a(class="navbar-brand" id="logo" href="/")
      h1(id="title") Herra HipHop
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item")
          a(class="nav-link" href="/music") Music
        li(class="nav-item")
          a(class="nav-link" href="/news") News
        li(class="nav-item")
          a(class="nav-link" href="/interviews") Interviews
        li(class="nav-item")
          a(class="nav-link" href="/podcasts") Podcasts/Shows
      ul(class="navbar-nav my-2 my-lg-0")
        li(class="nav-item")
          a(class="nav-link" href="/privacy") Privacy
        li(class="nav-item")
          a(class="nav-link" href="/submit") Submit a Video
        li(class="nav-item")
          a(class="nav-link" href="/contactus") Contact Us