form(id="form")
  h2(id="newsletter") Stay up to date with our daily uploads
  input(type="email" name="email" placeholder="Email" class="form-control" required)
  br
  input(type="submit" class="btn btn-primary" value="Submit")
script(src="/javascripts/newsletter/create.js")