h3(class="text-center" style="color:white") Connect With Us
div(class="row" id="socialContainer")
  div(id="col-sm-3")
    a(lass="nav-link" href="https://www.youtube.com/channel/UCgJsf9sG9FJ12g0oziiLSYQ" target="_blank")
      i(class="fa fa-youtube-play" id="social-youtube" aria-hidden="true")
  div(id="col-sm-3")
    a(lass="nav-link" href="https://www.facebook.com/herrahiphop" target="_blank")
      i(class="fa fa-facebook-official" aria-hidden="true" id="social-facebook")
  div(id="col-sm-3")
    a(lass="nav-link" href="https://twitter.com/HerraHip" target="_blank")
      i(class="fa fa-twitter-square" id="social-twitter" aria-hidden="true")
  div(id="col-sm-3")
    a(lass="nav-link" href="https://www.instagram.com/herrahiphop/" target="_blank")
      i(class="fa fa-instagram" aria-hidden="true" id="social-instagram")