extends ../../layout

block content
  div(id="adminBg")
    br
    include ../nav.jade
    br
    div(class="row")
      div(class="col-sm-12")
        div(class="container")
          h1 Show Message
  div(id="marg")