/* Mobile View */
@media screen and (min-width: 320px) {
  #col-sm-6 {
    width: 50%;
    float: left;
    background-color: black;
  }

  #videoImages {
    width: 100%;
    height: 150px;
  }

  #latestVideo {
    width: 100%;
    height: 250px;
  }
  #adminImageTitles {
    color: black;
  }

  #latestVideoContainer {
    margin-top: 2%;
  }

  #latestTwoVideos {
    width: 100%;
    height: 200px;
  }

  #videoImageTitles {
    font-size: .7em;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 2%;
    color: white;
  }

  #employee-link {
    color: white;
  }

  #employee-link:hover {
    text-decoration: none;
  }

  #marg {
    margin-top: 2%;
  }

  #videoDescription {
    width: 100%;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  #recommendedVideos {
    width: 100%;
  }

  #mainVideo {
    width: 100%;
    height: 300px;
  }

  #createBtn {
    color: white;
  }

  #recommendationTitle {
    text-decoration: none;
  }

  .bg-light {
    background-color: black !important;
  }

  .navbar-light .navbar-brand {
    color: white;
    font-family: 'Rancho', cursive;
    font-size: 1.6em;
    text-decoration: none;
  }

  #footer {
    color: white;
    font-size: 1.6em;
    font-family: 'Rancho', cursive;
  }

  #adminContainer {
    width: 100%;
    height: 100%;
    background-color: #ecf0f1;
  }

  #views-line {
    width: 100%;
  }
}