/* Tablet View */
@media screen and (min-width: 760px) {
	body {
    background-image: url("/images/bg.png");
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;
  }
	#col-sm-6 {
    width: 33%;
  }

  #col-md-6 {
    width: 50%;
  }
  #col-lg-6 {
    width: 50%;
  }

  #videoImageTitles {
    font-size: .8em;
  }

  #latestVideo {
    height: 350px;
  }

  #latestVideoContainer {
  	/*margin-top: 8%;*/
  }

  #vidTitle {
  	color: white;
  }
}