extends ../../layout

block content
  div(id="adminBg")
    br
    include ../nav.jade
    br
    div(class="row")
      div(class="col-sm-12")
        div(class="container")
          h1 All Videos
          br
          if !videos
            h3 No Videos, Add Some
          else
            button(class="btn btn-primary")
              a(href="/admin/createvideo") Create a New Video
            each video in videos
              h3= video.title
  div(id="marg")