extends ../../layout

block content
  div(id="adminBg")
    br
    include ../nav.jade
    br
    div(class="row")
      div(class="col-sm-12")
        div(class="container")
          h1(class="text-center") All Videos
          hr
          if !videos
            h3 No Videos, Add Some
          else
            button(class="btn btn-primary")
              a(href="/admin/createvideo" id="createBtn") Create a New Video
            br
            table(class="table table-dark table-bordered table-hover table-condensed")
              tr
                th Title
                th Category
                th Views Count
                th Date Uploaded
              each video in videos
                tr
                td= video.title
                td= video.category
                td= video.views
                td= video.date_created
  div(id="marg")