extends ../layout

block content
  div(id="marg")
    div(class="row")
      div(class="col-md-12")
        h1(class="text-center") Submit Video
        br
        form(id="contactForm" method="post" action="/submit")
          label(for="name") Name
          input(type="text" name="name" class="form-control" required)
          br
          label(for="email") Email
          input(type="email" name="email" class="form-control" required)
          br
          label(for="link") Youtube Link
          input(type="text" name="link" class="form-control" required)
          br
          label(for="category") Category
            select(for="category" name="category" class="form-control")
              option(value="Interview") Interview
              option(value="Podcast") Podcast
              option(value="HipHop") Hip Hop
              option(value="RB") R and B
              option(value="News") News
              option(value="Trailers") Movie / TV Trailers
              option(value="Movie") Movie
              option(value="Show") Show
              option(value="Announcements") Announcements
          br
          label(for="message") Message
          textarea(name="message" class="form-control" required)
          br
          p By submitting your e-mail, name or any other Personal Information through this form, you are granting consent to Herrahiphop.com to use such Personal Information to respond to your message and for the purposes identified in our Privacy Policy accessible 
            a(href="/privacy") here.
          br
          input(type="submit" value="Submit" class="btn btn-primary")